body {
  background-image: url(/static/logo-big-shade.png);
  background-position: top right;
  background-repeat: no-repeat;
}
a:link {
  color: blue;
}
a:visited {
  color: blue;
}

/* do not highlight the quick edit links */
td.DataBox a:link {
  color: black;
  text-decoration: none;
}
td.DataBox a:visited {
  color: black;
  text-decoration: none;
}

th { 
  background-color: #b0b0b0;
  text-align: left;
}

th a:link { 
  color: black; 
  text-decoration: none;
}
th a:visited { 
  color: black; 
  text-decoration: none;
}
td.CommandBox {
  background-color: #e0e0e0;
}
tr.ListRow {
  background-color: #f8f8f8;
}
tr.ListRow:hover {
  background-color: #f0f0f0;
}
td.Label {
  background-color: #e0e0e0;
}
td.InvalidEntry {
  background-color: red;
}
.ActiveFilter {
  background-color: #e0e0e0;
}
