body {
  background-image: url(/static/logo-big-shade.png);
  background-position: top right;
  background-repeat: no-repeat;
}
a:link {
  color: blue;
}
a:visited {
  color: blue;
}

/* do not highlight the quick edit links */
td.DataBox a:link {
  color: black;
  text-decoration: none;
}
td.DataBox a:visited {
  color: black;
  text-decoration: none;
}

th { 
  background-color: #b0b0b0;
  text-align: left;
}

th a:link { 
  color: black; 
  text-decoration: none;
}
th a:visited { 
  color: black; 
  text-decoration: none;
}
td.CommandBox {
  background-color: #e0e0e0;
}
tr.OddListRow {
  background-color: #f8f8f8;
}
tr.EvenListRow {
  background-color: #e0e0e0;
}
tr.OddListRow:hover {
  background-color: #f0f0f0;
}
tr.EvenListRow:hover {
  background-color: #d8d8d8;
}
td.Label {
  background-color: #e0e0e0;
}
td.InvalidEntry {
  background-color: red;
}
.ActiveFilter {
  background-color: black;
}
.ActiveFilter a:link {
  color: white;
}
.ActiveFilter a:visited {
  color: white;
}

input:focus, select:focus, textarea:focus { 
  background : #ffd; color : black; 
}

.AccessKey {
  font-size: x-small;
}
  
